<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml" layout:decorator="layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}"
          href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/css/index.css}"
          href="/css/index.css"/>
    <title>沈理强的博客</title>
</head>
<body>
<div id="mainpage">
    <div id="itany">
        <button @click="send">发送AJAX请求</button>

        <button @click="sendGet">GET方式发送AJAX请求</button>

    </div>
</div>
</body>
<script th:src="@{https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js}" src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
<script th:src="@{/js/jquery/jquery-3.3.1.min.js}" src="/js/jquery/jquery-3.3.1.min.js"></script>
<script th:src="@{/js/index.js}" src="/js/index.js"></script>
</html>