<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <input type="text" id="userName"><br>
        <input type="password" id="password"><br>
        <input type="button" id="doLogin">
    </form>
</body>
<script src="https://lib.sinaapp.com/js/jquery/2.0.2/jquery-2.0.2.min.js"></script>
<script>
    //简单登录操作
    $("#doLogin").click(function (e) {
        $.ajax({
            type : "POST",
            url : "/userEntity/login",
            data : {
                "userName" : $("#userName").val(),
                "passWord" : $("#password").val()
            },
            dataType : "json",
            success : function(data) {
                if (data.result === "success") {
                    window.location.href ="/index";
                }else if (data.result === "error username or passWord"){
                    alert("密码不正确！");
                }  else {
                    alert("账号密码不能为空！");
                }
            }
        });
    });
</script>
</html>