<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liveus.dao.BlogtypeMapper">
  <resultMap id="BaseResultMap" type="com.liveus.domain.Blogtype">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="typename" jdbcType="VARCHAR" property="typename" />
    <result column="blogsum" jdbcType="INTEGER" property="blogsum" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="createdtime" jdbcType="TIMESTAMP" property="createdtime" />
    <result column="deletedtime" jdbcType="TIMESTAMP" property="deletedtime" />
  </resultMap>
  <insert id="insertNewBlog" parameterType="string" >
    INSERT INTO blogtype(typename) value (#{type,jdbcType = VARCHAR });
  </insert>
</mapper>