<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liveus.dao.BlogMapper">
  <resultMap id="BaseResultMap" type="com.liveus.pojo.entity.Blog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="uploadtime" jdbcType="TIMESTAMP" property="uploadtime" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="readsum" jdbcType="VARCHAR" property="readsum" />
    <result column="isfinished" jdbcType="TINYINT" property="isfinished" />
    <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="deleted" jdbcType="TINYINT" property="deleted" />
    <result column="deletedtime" jdbcType="TIMESTAMP" property="deletedtime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="html" jdbcType="LONGVARCHAR" property="html" />
  </resultMap>

  <sql id="Base_Column_List">
    id, title, summary,content,html
  </sql>

  <insert id="insertBlog" parameterType="com.liveus.pojo.entity.Blog">
    insert into blog (title, summary,content,html
      )
    values (#{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{html,jdbcType=VARCHAR}
      )
  </insert>

  <select id="getAllBlogs" parameterType="string" resultType="com.liveus.pojo.entity.Blog">
     SELECT * FROM BLOG where isfinished = 1 order by uploadTime
  </select>

  <select id="getBlogById" parameterType="int" resultType="com.liveus.pojo.entity.Blog">
     SELECT * FROM BLOG where isfinished = 1 and id = #{id,jdbcType =INTEGER}
  </select>

</mapper>