<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liveus.dao.PersonalInfoMapper">
  <resultMap id="BaseResultMap" type="com.liveus.domain.PersonalInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="nickName" jdbcType="VARCHAR" property="nickname" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="motto" jdbcType="VARCHAR" property="motto" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="GithubAddress" jdbcType="VARCHAR" property="githubaddress" />
    <result column="CSDNAddress" jdbcType="VARCHAR" property="csdnaddress" />
    <result column="JuejinAddress" jdbcType="VARCHAR" property="juejinaddress" />
    <result column="passwd" jdbcType="VARCHAR" property="passwd" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="skills" jdbcType="CHAR" property="skills" />
    <result column="email" jdbcType="VARCHAR" property="email" />
  </resultMap>
</mapper>